<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Semana da Saúde</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet"/>
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="/static/img/logo.png"></a>
<!--       <ul class="right hide-on-med-and-down">
        <li><a href="#">Cadastro de Paciente</a></li>
        <li><a href="#">Encaminhamento</a></li>
      </ul>
 -->
      <!-- <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>


  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <script src="/static/js/jquery-3.2.1.min.js" ></script>
  <script src="/static/js/materialize.min.js" ></script>
  {% block scripts %} {% endblock %}

  <script type="text/javascript">
    {% if flash is not None %}
        $(function() {
          var msg = $.parseHTML('<div>{{flash.message}}</div>')
          Materialize.toast($(msg) , 4000, '{{flash.color}}')
        })
    {% endif %}
  </script>

  </body>
</html>
