<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Semana da Saúde</title>

  <!-- CSS  -->
  <link href="/static/css/material_icons.css" type="text/css" rel="stylesheet"/>
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="blue darken-4" role="navigation">
      <div class="container nav-wrapper">
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="{% url 'patient:list' %}" class="brand-logo center"><img src="/static/img/logo.png"></a>
      {% if user.is_authenticated %}
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{% url 'patient:list' %}">Início</a></li>
          {% if request.get_full_path == '/patients/new' %}
            <li><a href="{% url 'patient:list' %}">Voltar</a></li>
          {% else %}
            <li><a href="{% url 'patient:new' %}">Cadastrar</a></li>
          {% endif %}
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
        <ul id="mobile-menu" class="side-nav">
          <li><a href="{% url 'patient:list' %}">Início</a></li>
          {% if request.get_full_path == '/patients/new' %}
            <li><a href="{% url 'patient:list' %}">Voltar</a></li>
          {% else %}
            <li><a href="{% url 'patient:new' %}">Cadastrar</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
    {% endif %}
      </div>
    </div>
  </nav>


  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <script src="/static/js/jquery-3.2.1.min.js" ></script>
  <script src="/static/js/materialize.min.js" ></script>
  {% block scripts %} {% endblock %}

  <script type="text/javascript">
    {% if flash is not None %}
        $(function() {
          var msg = $.parseHTML('<div>{{flash.message}}</div>')
          Materialize.toast($(msg) , 4000, '{{flash.color}}')
        })
    {% endif %}
    $(".button-collapse").sideNav();
  </script>

  </body>
</html>
