{% extends 'base_generic.html' %}

{% block content %}

<h2>Pacientes</h2>


<div class="row">
    <form class="col s12" action="{% url 'patient:list' %}">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input name="name" id="icon_prefix" type="text">
          <label for="name">Nome do paciente</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">pesquisar</button>
    </form>
  </div>

{% if patients %}

<ul class="collapsible" data-collapsible="accordion">
    {% for patient in patients %}
        <li>
            <div class="collapsible-header valign-wrapper">
                    {{ patient.name|upper }}
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s4">
                        {% if patient.mother_name %}
                            <p><b>Nome da mãe: </b> {{ patient.mother_name }}</p>
                        {% endif %}
                        <p><b>Endereço: </b> {{ patient.address }}</p>
                        <p><b>Telefone: </b> {{ patient.phone }}</p>
                        <p><b>Aniversário: </b> {{ patient.birthdate|date:"d/m/Y" }}</p>
                    </div>
                    {% if patient.notes %}
                        <div class="col s4">
                            <p><b>Observações: </b> {{ patient.notes }}</p>
                        </div>
                    {% endif %}
                    <div class="col s4">
                            <p class="valign-wrapper"><b>Histórico familiar: </b> {% if patient.prostate_history %} <i class="material-icons red-text">check</i> {% else %} <i class="material-icons green-text">clear</i> {% endif %}</p>
                            <p class="valign-wrapper"><b>Problemas para urinar: </b> {% if patient.trouble_urinating %} <i class="material-icons red-text">check</i> {% else %} <i class="material-icons green-text">clear</i> {% endif %}</p>
                            <p class="valign-wrapper"><b>Nódulo suspeito: </b> {% if patient.suspicious_nodule %} <i class="material-icons red-text">check</i> {% else %} <i class="material-icons green-text">clear</i> {% endif %}</p>
                            <p class="valign-wrapper"><b>Exame PSA positivo: </b> {% if patient.psa_positive %} <i class="material-icons red-text">check</i> {% else %} <i class="material-icons green-text">clear</i> {% endif %}</p>
                    </div>
                </div>
                <a href="/patients/{{patient.id}}" class="waves-effect waves-light orange btn"><i class="material-icons white-text left">edit</i>Editar</a>
                <a href="/patients/{{patient.id}}/print" class="waves-effect waves-light orange btn"><i class="material-icons white-text left">print</i>Imprimir</a>
            </div>
        </li>
  {% endfor %}
</ul>

<ul class="pagination center">
    <span class="step-links">
        <li
            {% if patients.has_previous %}
                class="waves-effect"><a href="?page={{patients.previous_page_number}}"><i class="material-icons">chevron_left</i></a>
            {% else %}
                class="disabled"><a><i class="material-icons">chevron_left</i></a>
            {% endif %}
        </li>
        {% for number in page_range %}
            <li {% if number == patients.number %} class="active orange" {% else %} class="waves-effect" {% endif %} ><a href="?page={{number}}">{{number}}</a></li>
        {% endfor %}
        <li
            {% if patients.has_next %}
                class="waves-effect"><a href="?page={{patients.next_page_number}}"><i class="material-icons">chevron_right</i></a>
            {% else %}
                class="disabled"><a><i class="material-icons">chevron_right</i></a>
            {% endif %}
        </li
    </span>
</ul>

{% else %}

    {% if name %}
        <p> <b> Nenhum paciente com nome contendo "{{ name }}" </b></p>
    {% else %}
        <p> <b> Pesquise por pacientes </b></p>
    {% endif %}

{% endif %}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large orange" href="{% url 'patient:new' %}">
        <i class="large material-icons">add</i>
    </a>
</div>

{% endblock %}
