{% extends 'base_generic.html'%}
{% block content %}

<h4>Cadastro número {{number}}</h4>

{% if patient %}
    <form action="{% url 'patient:edit' patient.id %}" method="post" novalidate>
{% else %}
    <form action="{% url 'patient:new' %}" method="post" novalidate>
{% endif %}
    {% csrf_token %}
    <div class="row">
        {% for field in form %}
            <div class="input-field col s6">
            {{ field }}
            <label for="{{field.name}}">{{field.label}}</label>
            </div>
        {% endfor %}
    </div>

    <button class="orange btn waves-effect waves-light btn-large" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        $('#id_birthdate').pickadate({
            monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            selectYears: 120,
            max: new Date(),
            today: false,
            selectMonths: true,
            format: 'dd/mm/yyyy',
            formatSubmit: 'yyyy-mm-dd',
            clear: 'Limpar',
            close: 'Ok',
            closeloseOnSelect: false
        });
        toggleOther();
        toggleReferral();
    });

    $("#id_referral_place").on('change', function() {
        toggleOther();
    })

    $('#id_has_referral').on('change', function() {
        toggleReferral();
    });

    function toggleReferral() {
        var value = $('#id_has_referral').val();
        if (value === '2') {
            $('#id_referral_character').parent().parent().show();
            $('#id_referral_place').parent().parent().show();
        } else {
            $('#id_other_referral_place').val("");
            $('#id_referral_character').val("");
            $('#id_referral_place').val("");
            $('#id_referral_character').parent().parent().hide();
            $('#id_referral_place').parent().parent().hide();
        }
        toggleOther();
    }

    function toggleOther() {
        if ($("#id_referral_place").val() === '2') {
            $("#id_other_referral_place").parent().show();
        } else {
            $("#id_other_referral_place").parent().hide();
        }
    }
</script>
{% endblock %}
